<!doctype html>
<html lang="ko">
{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>게시판내용</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/notice_style.css' %}">
<link rel="stylesheet" href="{% static 'css/content.css' %}">
</head>
<body>
    {% include "topmenubar.html" %}   
    <!-- 미들 -->
    <center class="board-middle">
        <h1>게시글내용</h1>
        <font color='gray' size='4' face='hanna'>
    <hr width='1400' size='2' color='gray' noshade>  
    </center>
    <div class="card" style="width:1000px; display:block; margin-left:auto; margin-right:auto;">
        <!--제목,분류,작성일-->
        <div class="card-header">
            <strong>{{ boards.title }}</strong><span style="text-align:center"></span>
            <span style="float:right;">{{ boards.rdate|date:'Y.m.d. H:i' }}</span>
        </div>
        <div class="card-body">
            <!--작성자, 조회수-->
            <div>
                <span>작성자 : {{ boards.writer.name }}</span>
                <span style="float:right;">조회수 : {{ boards.hits }}</span>
            </div>
            <!--내용-->
            <div>
                {{ boards.content|safe}}
            </div>
        </div>
        {% if board_writer %}
        <button class="button_1" style="display: inline-block; margin: 0 5px;  float:right; width:100px;" onclick = "location.href = '/delete/{{boards.id}}'">삭제
        <button class="button_1" style="display: inline-block; margin: 0 5px;  float:right; width:100px;" onclick = "location.href = '/update/{{boards.id}}'">수정
        <button class="button_1" style="display: inline-block; margin: 0 5px;  float:left; width:100px;" onclick = "location.href = '/board'">목록
        {% else %}
        <button class="button_1" style="display: inline-block; margin: 0 5px;  float:left; width:100px;" onclick = "location.href = '/board'">목록
        {% endif %}
        </button>
        <div>
            {% include "comment_write.html" %}
            {% include "comment.html" %}
        </div>
        <div>
            <ul id="dyn_ul" class="pagination" style="justify-content: center;">
              </ul>
        </div>
    </div>
    <!-- 미들 끝 -->
    {% include "footermenubar.html" %}
</body>
</html>
