
<!doctype html>
<html lang="ko">
{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>캠핑구 공지사항</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/notice_style.css' %}">
<link rel="stylesheet" href="{% static 'css/content.css' %}">
</head>
<body>
    {% include "topmenubar.html" %}   
    <!-- 미들 -->
    <center class="board-middle">
        <h1>공지사항</h1>
        <font color='gray' size='4' face='hanna'>
    <hr width='1400' size='2' color='gray' noshade>  
    </center>
    <div class="card" style="width:1000px; display:block; margin-left:auto; margin-right:auto;">
        <!--제목,분류,작성일-->
        <div class="card-header">
            <strong>{{ content.subject }}</strong><span style="float:left;">[공지사항]</span>
            <span style="float:right;">{{ content.rdate|date:'Y.m.d. H:i' }}</span>
        </div>
        <div class="card-body">
            <!--작성자, 조회수-->
            <div>
                <span>작성자 : {{ content.writer }}</span>
                <span style="float:right;">조회수 : {{ content.count }}</span>
            </div>
            <!--내용-->
            <div>
                {% if content.upload_files %}
                    <div class="col-12 text-right">
                        <span>첨부파일 :&nbsp;</span>
                        <a href="{% url 'notice_download' content.id %}" >{{ filename|truncatechars:25 }}</a>
                    </div>
                {% endif %}
                {% if content.photo %}
                <img style="display:block; margin-left: auto; margin-right: auto" src="{{ content.photo.url }}" ><br>
                {% endif %}
                {{ content.content }}
            </div>
        </div>
        <button class="button_2" style="display: inline-block; margin: 0 5px;  float:right; width:100px;" onclick = "location.href = '/notice'">목록
        </button>
    </div>
    <!-- 미들 끝 -->
    {% include "footermenubar.html" %}
</body>
</html>