@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


/* 상단 메뉴바 */
#header-full {width:100%;position:fixed;z-index:13;background:rgba(209, 89, 59, 0.705);height:120px;-webkit-transition: background-color 700ms linear;-moz-transition: background-color 700ms linear;-o-transition: background-color 700ms linear;-ms-transition: background-color 700ms linear;transition: background-color 700ms linear;}
#header-full .gnb {height:40px;position:absolute;z-index:0;right:20px;top:10px;width:100%;z-index:12}
#header-full .gnb .copytext {position:absolute;height:40px;line-height:40px;color:#848590;font-weight:400;font-size:12px;width:340px;left:0px;padding-left:20px;font-size:12px;}
#header-full .gnb ul {position:absolute;right:20px;top:5px;font-size:12px;padding:0;margin:0;list-style:none;}
#header-full .gnb ul li {display:inline-block;position:relative;}
#header-full .gnb ul li > a {color:#ccc;display:inline-block;margin:0 8px;height:40px;line-height:31px}
#header-full .gnb ul li > a:hover {color:#25a5f0}

/* 바 디 */
body {margin:0; background-color:#f8f6ef; font-family:'Poppins';}


/* 회원가입 / 로그인  */
.login{border: 2px solid #eee; border-radius: 14px; /*테두리 동글동글*/ padding: 0.1px 7px; font-size: 13px; font-weight: bold; text-decoration-line: none;}
.login:hover{border: 2px solid #009aa5;color: #009aa5;}
.join{border:2px solid #eee; border-radius: 14px; /*테두리 동글동글*/ padding: 0.1px 7px; font-size: 13px; font-weight: bold; text-decoration-line: none;}
.join:hover{border: 2px solid #009aa5;color: #009aa5;}

/* 상단 메뉴바 로고  */
#header-full .header-wrap {width:1100px;position:absolute;left:50%;margin-left:-500px;top:20px}
#header-full .logo {position:absolute;top:0;left:0;z-index:1}
#header-full .logo h1 {padding:0;margin:0;}

#header-full .topmenu {text-align:center;}
#header-full .topmenu ul {list-style:none;padding:0px;margin:15px;display:inline-block}
#header-full .topmenu ul li {display:inline-block;margin:0 13px;position:relative;}
#header-full .topmenu ul li .top_ico {position:absolute;top:-7px;right:0}
#header-full .topmenu ul li > a {font-size:18px;font-weight:600;color:#fff;display:inline-block;padding:0;height:54px;line-height:54px;margin:0;text-align:center;}
#header-full .topmenu ul li > a:hover {color:#25a5f0}
#header-full .topmenu ul li > a.active {color:#56c3f6;border-bottom:2px #56c3f6 solid}
#header-full .topmenu ul li > a.active1 {color:#25a5f0;}

#header-full .topmenu ul li > ul {display:none; visibility:hidden;position:absolute;top:50px;left:0;z-index:1;padding:16px 0;margin:0 0 0 -30px;border-radius:6px;background:#383943;}
#header-full .topmenu ul li > ul li {padding:0;margin:0;}
#header-full .topmenu ul li > ul li a {font-weight:500;font-size:14px;display:block;text-align:left;height:34px;line-height:34px;color:#ccc;padding:0 0 0 20px;width:120px;}
#header-full .topmenu ul li:hover > ul {display:block; visibility:visible;}
#header-full .topmenu ul li:hover > a{color:#25a5f0}



/* 첫 번째 패널 */
#main_fullbg {padding:0;width:100%;height:100%;position:relative;background:#e7cd9c;min-height:900px;}
#main_fullbg .main_fullbg-wrap {width:1200px;margin:0 auto;position:relative;height:100%}

#main_fullbg .main-search {display:inline-block;width:800px;position:absolute;left:50%;margin-left:-400px;top:47%;z-index:11;margin-top:-240px;display:none;text-align:center}
#main_fullbg .main-search h2 {font-size:2rem;color:#fff;font-weight:400;padding:0 0 20px 0;margin:0;text-align:center;padding-left:100px}
#main_fullbg .main-search .btn_sido {display:inline-block;height:60px;border-radius:60px;overflow:hidden;box-shadow:10px 0px 40px rgba(0,0,0,.4);width:110px;font-size:1rem;line-height:60px;margin-right:10px;font-weight:700;background:#f1b23d;color:#fff}
#main_fullbg .main-search .btn_sido:hover {background:#fff;color:#000}
#main_fullbg .main-search .search-form {width:650px;background:#fff;height:60px;border-radius:30px;overflow:hidden;box-shadow:0px 0px 30px rgba(0,0,0,.4);position:relative;display:inline-block;text-align:left !important}
#main_fullbg .main-search .search-form .search_input {width:400px;height:55px;border:none;background:transparent;font-size:1.4rem;font-family:'noto sans kr';color:#333;padding-left:50px;;line-height:56px;outline:0;letter-spacing:-0.03em}
#main_fullbg .main-search .search-form button {border:none;background:none;font-size:30px;position:absolute;top:0;right:0;outline:0;cursor:pointer;background:#f0f0f0;color:#555;height:60px;width:80px;}
#main_fullbg .main-search .search-form button:hover {background:#f1b23d;color:#fff}

/* 검색 창 */
fieldset {border:0 none;margin:0; padding:0;}

/* 첫 번째 패널 그림위 덮는 색상 조절 */
#main_fullbg .mainwrap {position:absolute;top:0;left:0;right:0;bottom:0;z-index:0}
#main_fullbg .mainwrap:after{content:'';display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(107, 89, 65, 0.45);z-index:-1}

/* 두 번째 패널*/

.middle-pannel1 {padding:0;width:100%;height:100%;position:relative;background:#e7cd9c;min-height:900px;}


.middle-pannel2 {margin:0px;padding:0px;}

/* 왼쪽 지도  */
.pannel2-1 {width:27%; height:750px; background-color:rgb(255, 255, 255);float:left;}
.pannel2-1 .pannel2-1-1 h2{margin-top:150px;margin:40px;padding:0;font-size:1.7rem;text-align:center;letter-spacing:-0.03em}
.pannel2-1 .pannel2-1-1 h2 span {color:#6419c5}
.pannel2-1 .pannel2-1-2 {margin:30px;padding:0;font-size:1.4rem;text-align:center;letter-spacing:-0.03em}
.pannel2-1 .pannel2-1-3 {margin-top:70px;text-align:center;}

/* 오른쪽 캠핑 정보 */

.pannel2-2 {width:73%; height:750px; background-color:rgb(247, 233, 233);float:left;}

.pannel2-2 .pannel2-2-1 {width:82%;margin:auto;}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 {display:inline-block;width:82%;margin-bottom:20px;margin-top:45px;}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 > ul li {padding:0 10px}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .pannel2-2-3 {background:#25a5f0;color:#fff;height:36px;line-height:36px;font-size:.9rem;width:66px;text-align:center; border: 1px solid rgb(37, 34, 252);}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .pannel2-2-4 {border:1px #ccc solid;height:34px;line-height:34px;margin:0 10px;}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .pannel2-2-4 .btn_page {width:34px;height:34px;color:#ccc;text-align:center;font-size:15px;pointer-events: none;}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .pannel2-2-4 .btn_page.on {color:#555;background:#f0f0f0;pointer-events: auto;}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .pannel2-2-4 .btn_page.on:hover {background:#ccc;color:#fff}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .pannel2-2-4 .pagestat {padding:0;width:70px;text-align:center }/**/
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .adq  {display:inline-block;padding:8px 0 0 0;font-weight:500;font-size:15px;color:#aa0a47;font-weight: bold;}
.pannel2-2 .pannel2-2-1 .pannel2-2-2 .adq:hover {border-color:#f52390}

.pannel2-2-1 .pannel2-2-2 .selectsido .vtext {font-size:14px;font-weight:500;color:#3EA9CD;display:inline-block;margin:0 0 0 11px}
.pannel2-2-1 .pannel2-2-2 .selectsido .vtext > span {font-weight:700;color:rgb(155, 122, 122)}
.pannel2-2-1 .pannel2-2-2 .selectsido .subselect {display:none}

/* 사진 정보 */
.pannel2-2 .pannel2-2-1 .camp_right_content:after {content:"";clear:both;display:block;float:none;}
.pannel2-2 .pannel2-2-1 .items {width:290px;margin:7px 40px 10px 0;float:left;} /* 각 사진 정보 */
.pannel2-2 .pannel2-2-1 .items.nomargin {margin-right:10px;}
.pannel2-2 .pannel2-2-1 .items .photo {width:283px;height:168px;position:relative;overflow:hidden;background:#f6f6f6 no-repeat  center center;}
.pannel2-2 .pannel2-2-1 .items .photo:after {content: '';display: block;width:100%;height:100%;position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index:0;background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 100%);background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.3) 100%);background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.3) 100%);}
.pannel2-2 .pannel2-2-1 .items img.tm {transition: transform .2s;width:100%;height:100%}
.pannel2-2 .pannel2-2-1 .items:hover img.tm {transform: scale(1.15)};
.pannel2-2 .pannel2-2-1 .items .photo .tm {object-fit:cover;width:283px;transition: transform .2s;}
.pannel2-2 .pannel2-2-1 .items .photo span.distance {position:absolute;left:0;bottom:0;display:inline-block;background:#000;background:rgba(0,0,0,.1);padding:4px 5px;color:#efe03e;z-index:10;font-size:11px;}
.pannel2-2 .pannel2-2-1 .items .photo span.cat {position:absolute;right:0;bottom:0;display:inline-block;background:#000;background:rgba(0,0,0,.1);padding:4px 5px;color:#efe03e;z-index:10;font-size:11px;}
.pannel2-2 .pannel2-2-1 .items .cont {padding-top:7px}
.pannel2-2 .pannel2-2-1 .items .cont .tt {padding:0;font-size:1rem;font-weight:500;margin:5px 0}
.pannel2-2 .pannel2-2-1 .items .cont .mcont {color:#1728c0;font-size:12px;font-weight:400}

/* ####################### footer ##############################*/
#footer-full {margin:10px;padding:30px 0;background:#ffffff;}
#footer-full .flogo {margin-right:40px}
#footer-full .bottomMenu {margin:6px  0 15px 0}
#footer-full .bottomMenu a {font-size:15px;}
#footer-full .bottomMenu .vline {display:inline-block;margin:0 16px;color:#a7a9b3}
#footer-full .copy {line-height:1.9;color:#48494f}



/* 추가적 */
.fl {float: left;}

/* 두 번째 패널 추가 정보 */
.fr {float: right;}
a {text-decoration: none;color: #000;}
.searchSelect {font-family: "noto sans kr";outline: none;min-width: 70px;min-width: 70px\9;height: 36px;padding: 4px 40px 6px 15px;padding: 8px 9px 3px 15px\9;border: 1px solid #bbb;
    font-size: 14px;font-size: 12px\9;line-height: 19px;color: #444;appearance: none;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;background:right center no-repeat;
    background: none\9;background-color: #fff;font-weight: 700; background-image:url('../img/select1.png');border: 3px solid rgb(44, 40, 40);}


/* 게 시 판 페이지 CSS */
/* 가운데 본문 영역 */
table {font-size:25px;}
.board-middle h1 {font-size:60px; padding-top:200px; padding-bottom:30px;}


/* 광고 및 등록 페이지 CSS */
.ad-main h1{text-align: center; margin:0px; padding-top:200px; padding-bottom: 50px;}
#joinForm{width: 450px; height:100px; margin: 0 auto;}
ul.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;}
.footBtwrap{margin-top: 15px;}.footBtwrap>li{float: left;width: 50%;height: 60px;}
.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}
.fpmgBt1{background-color: #fff;color:#888}.fpmgBt2{background-color: lightsalmon;color: #fff}
ul>li{list-style: none}

/* 광고 및 등록 페이지 CSS */
/* 등록 하는 란 */
.ad-middle {margin-top: 100px; margin-bottom: 130px; margin-left:400px;width:58%;}
.ad-middle .first .one-td {font-size:20px; text-align: center;padding-right:50px;}
.ad-middle .first .two-td a {font-size:18px;border: 2px solid;padding: 4px 7px;}
.ad-middle .first .two-td a:hover {color:#25a5f0}

.ad-middle .two .three-td {font-size:20px; text-align: center;padding-right:50px; padding-top:40px;}
.ad-middle .two .input1 {font-size:18px;border: 2px solid;padding: 4px 7px;margin-top: 40px;}

.ad-middle .three .four-td {font-size:20px; text-align: center;padding-right:50px; padding-top:40px;}
.ad-middle .three .input2 {font-size:18px;border: 2px solid;padding: 4px 7px;margin-top: 40px;}

.ad-middle .four .five-td {font-size:20px; text-align: center;padding-right:50px; padding-top:40px;}
.ad-middle .four .input3 {font-size:18px;border: 2px solid;padding: 4px 7px;margin-top: 40px;}
.ad-middle .four .input4 {font-size:18px;border: 2px solid;padding: 4px 7px;margin-top: 40px;}
#email-check {margin-top: 30px; font-size:21px;}

.ad-middle .five .six-td {font-size:20px; text-align: center;padding-right:50px; padding-top:40px;}
.ad-middle .five .input5 {font-size:18px;border: 2px solid;padding: 4px 7px;margin-top: 40px;}

.ad-middle .six .seven-td {font-size:20px; text-align: center;padding-right:50px; padding-top:40px;}
.ad-middle .six .input6 {font-size:18px;border: 2px solid;padding: 4px 7px;margin-top: 40px;}

#callfb {font-size:14px; margin-top: 80px;}
.ad-middle .td2 ul li {font-size:14px;}

.checkBtn {font-size:18px; border-radius: 40px;padding: 5px 20px; margin-bottom: 100px;}

/* search 페이지 css */
.search_title {font-size:40px;text-align:center; padding-top:200px; padding-bottom: 50px;font-family: 'Acme', sans-serif;}
.list_update {background-color: #f1efeb;}
.camp_info01 {padding-left: 100px;}
.camp_info01 .ffi {display:inline-block;}
.container .imge {width:60%; border: 2px solid rgb(110, 108, 112);padding: 7px 7px;display:inline-block;vertical-align:top;}
.container .tit {padding: 40px;}
.container a {margin-top: 30px; font-size:20px;color:#3a365e; text-decoration-line: none;font-family: 'Kanit', sans-serif;}
.container .addr {padding-top:18px;padding-left:20px;font-size:15px;font-family: 'Lexend Exa', sans-serif;}
.hrr {color:rgb(160, 84, 21); }
