
<!DOCTYPE html>
<center>
    <h1>Welcome Soobin's Django</h1><br/>
    <h3><a href="list">Looking People List Click</a></h3><br/><br/>
    <h3><a href="page_list">Go Board</a></h3><br/>
    
    <h4>현재 로그인 정보 : {{request.session.login_check}}</h4>
    {% if request.session.login_check %}
    <h4><a href="logout">Logout</a></h4>
    {%else%}
    <h4><a href="login">Login</a></h4>
    {% endif %}

    <br/><br/>
    <a href="template1">template1</a> &nbsp;&nbsp;
    <a href="template2">template2</a> &nbsp;&nbsp;
    <a href="template3">template3</a> &nbsp;&nbsp;
    <a href="template4">template4</a> &nbsp;&nbsp;
    <br/>
    <a href="template5">template5</a> &nbsp;&nbsp;
    <a href="template6">template6</a> &nbsp;&nbsp;
    <a href="template7">template7</a> &nbsp;&nbsp;
    <a href="template8">template8</a> &nbsp;&nbsp;
    <a href="template9">template9</a> &nbsp;&nbsp;
</center>