<!doctype html>
<html lang="ko">
{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>캠핑구</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header-full">
        <div class="gnb">
            <ul>
                <li><a href="javascript:void(0)" class="login" onclick="isLogin()">로그인</a></li>
                <li><a href="javascript:void(0)" class="join" onclick="isLogin('join')">회원가입</a></li>
                <li><a href="./?c=cs/notice&amp;m=bbs&amp;bid=notice">공지사항</a></li>
                <li><a href="./?c=cs/notice">고객센터</a></li>
            </ul>
        </div>
    
        <div class="header-wrap">
            <div class="logo">
                <h1><a href="./"><img src="/static/img/cam.png" alt="4조캠핑"></a></h1>
            </div>
    
            <div class="topmenu">
                <ul>
                    <li id="topmenu0">
                    <a href="./">전체</a>
                </li>
                            <li id="topmenu1">
                    <a href="./">메뉴1</a>
                </li>
                            <li id="topmenu2">
                    <a href="./">메뉴2</a>
                </li>
                            <li id="topmenu3">
                    <a href="./">메뉴3</a>
                </li>
                
                <li>
                    <a href="javascript:;" data-fancybox="" data-type="ajax" data-src="./?m=camping&amp;_ajax=themesearch&amp;fun=&amp;nature=&amp;themecat=&amp;facilities=" onclick="$.fancybox.close( all )">메뉴4</a>
                </li>
            
    
                <li>
                    <a href="./?c=market">캠핑물건장터</a>
                    <ul style="display: none;">
                        <li><a href="./?c=market/sale">팝니다</a></li>
                        <li><a href="./?c=market/buy">삽니다</a></li>
                    </ul>
                </li>
    
                <li>
                    <a href="./?c=info">캠핑정보</a>
                    <ul style="display: none;">
                        <li><a href="./?c=info/camptip">캠핑 팁</a></li>
                        <li><a href="./?c=info/campfood">캠핑 음식</a></li>
                        <li><a href="./?c=info/tent">텐트 설치방법</a></li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>

    <!--     -->

    {% comment %} 1번째 미들 {% endcomment %}
    <div id="main_fullbg" style="height: 937px; background: url(&quot;/static/img/ww.jpg&quot;) center center / cover no-repeat;">
        <div class="main_fullbg-wrap">
            <div class="main-search" style="display: block;">
                <h2 id="bot">Search Your Campsite</h2>
    
                <div class="btn_sido hand">지역별검색 &nbsp;&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div> 
                <div class="search-form">
                    <form action="/" method="get" id="_layout_search_border_" onsubmit="return mainsearchCheck(this);">
                    <fieldset>
                    <input type="hidden" name="r" value="home">
                    <input type="hidden" name="m" value="camping">
                    <input type="hidden" name="c" value="camping">
                        <input autocomplete="off" type="text" id="totalsearch" name="keyword" maxlength="14" placeholder="캠핑장 검색" onfocus="this.placeholder = ''" onblur="this.placeholder = '캠핑장 검색'" class="search_input keyword " value="">
                        
                        <button type="submit" class="btn_search"><img src="/static/img/d.png" width="40px" height="40px"></i></button>
                    </fieldset>
                    </form>
                    <!---->
             
                    <!----> 
                </div>
            </div>
        </div>
            <div class="mainwrap"></div>
    </div>

    {% comment %} 2번째 미들 {% endcomment %}

    <div id="camping-map" class="vrrooms maininfo">
        <div class="campinfo_wrap">
            <!--kmap-->
            <div class="kmap fl">
				<h2>Camping <span>Map</span></h2>
				<p class="csub_head">대한민국 캠핑 지도</p>
				<div class="mapwrap"><img src="{% static '/img/kmap.gif' %}" name="map" alt="" usemap="#campMap" id="Map">
					<map name="campMap" id="campMap">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_01.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="49,59,51,58,56,55,69,46,78,75,66,75,49,74,51,68,48,59" alt="서울" class="kmap_01" onclick="sido('서울','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_02.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="47,45,47,45,47,39,51,36,51,29,65,14,80,28,89,34,96,41,93,45,95,59,105,71,102,82,103,88,101,95,85,100,75,105,52,99,45,91,42,83,46,74,79,74,68,46,49,59,43,55,43,47" alt="경기" class="kmap_02" onclick="sido('경기','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_03.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="15,53,28,41,42,51,44,58,47,63,51,71,46,73,34,73,22,60,22,54" alt="인천" class="kmap_03" onclick="sido('인천','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_04.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="66,17,92,16,103,17,110,9,128,15,140,1,137,10,159,43,189,91,161,92,142,105,136,93,133,89,125,85,104,93,105,72,98,63,113,59,95,64,91,49,100,40,83,32,78,25,86,27" alt="강원" class="kmap_04" onclick="sido('강원','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_05.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="40,84,26,101,14,116,26,125,23,131,29,138,34,137,38,145,37,148,37,158,49,164,61,159,62,152,76,154,74,146,72,132,76,126,71,118,78,106,56,100,48,100" alt="충남" class="kmap_05" onclick="sido('충남','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_07.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="90,133,72,146,74,153,97,165,91,145,93,133" alt="대전" class="kmap_07" onclick="sido('대전','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_08.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="139,97,130,122,121,124,108,134,110,141,114,145,116,153,110,168,99,168,96,160,94,152,92,141,94,125,82,104,91,100,117,84,133,90" alt="충북" class="kmap_08" onclick="sido('충북','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_09.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="185,93,169,90,153,94,145,105,135,105,124,118,118,126,111,133,109,142,118,154,109,170,120,175,130,180,140,152,162,164,149,190,154,194,178,179,195,183,189,140,192,109,189,98,179,87" alt="경북" class="kmap_09" onclick="sido('경북','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_10.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="147,189,127,188,131,185,132,166,138,149,164,164,145,191" alt="대구" class="kmap_10" onclick="sido('대구','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_11.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="167,187,155,195,185,210,195,181,175,181,166,186" alt="울산" class="kmap_11" onclick="sido('울산','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_16.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="177,201,135,226,137,230,155,243,183,220,182,211" alt="부산" class="kmap_16" onclick="sido('부산','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_15.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="106,172,97,179,93,200,99,218,102,226,110,249,139,247,155,244,139,233,137,223,174,202,159,196,148,188,124,180,107,171" alt="경남" class="kmap_15" onclick="sido('경남','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_12.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="42,160,49,164,59,154,74,152,85,160,109,169,95,182,93,208,76,210,55,198,45,199,33,203,35,189,41,176,45,171,41,168,41,161" alt="전북" class="kmap_12" onclick="sido('전북','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_13.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="1,274,9,284,26,274,33,268,47,275,64,275,77,271,91,262,92,255,107,252,104,230,96,209,76,211,55,198,26,205,38,217,63,210,69,221,65,230,53,230,44,228,43,221,29,206,7,217,8,233,3,252,1,269" alt="전남" class="kmap_13" onclick="sido('전남','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_14.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="44,214,40,218,41,224,47,227,65,230,69,218,58,208,43,213" alt="광주" class="kmap_14" onclick="sido('광주','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_17.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="17,306,26,296,46,289,61,292,52,308,42,312,23,313,17,307" alt="제주" class="kmap_17" onclick="sido('제주','','')">
					<area shape="poly" ONMOUSEOVER="if(document.images) map.src='{% static '/img/kmap_06.gif'%}'" ONMOUSEOUT="if(document.images) map.src='{% static '/img/kmap.gif' %}'" coords="80,101,73,118,77,125,73,135,74,144,93,136,93,124" alt="세종" class="kmap_06" onclick="sido('세종','','')">
					</map>
				</div>
			</div>
            <!--kmap-->
    
                    <!--kmapright-->
            <div class="fl kmapright">
                <!--head-->
                <div class="head">
                    <div class="fl total_cnt countbox"><span id="total_cnt">{{ infolen }}</span>개</div>
                    <div class="fl page_ui">
                        <a href="javascript:;" onclick="sido($('#cate1 option:selected').val()?$('#cate1 option:selected').val():'', $('#cate2 option:selected').val()?$('#cate2 option:selected').val():'', $('#cate3 option:selected').val()?$('#cate3 option:selected').val():'','prev')" class="fl btn_page prev_page"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        <div class="fl pagestat"><span id="nowpage" class="b blue">1</span> / <span id="totalpage">432</span></div>
                        <a href="javascript:;" onclick="sido($('#cate1 option:selected').val()?$('#cate1 option:selected').val():'', $('#cate2 option:selected').val()?$('#cate2 option:selected').val():'', $('#cate3 option:selected').val()?$('#cate3 option:selected').val():'','next')" class="fl btn_page next_page on"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="fl selectsido">
                        <select name="cate1" id="cate1" class="searchSelect" onchange="sido(this.options[this.selectedIndex].value,'','')">
                            <option value="" selected="">전국</option>
                                                    <option value="서울">
                                서울						</option>
                                                    <option value="경기">
                                경기						</option>
                                                    <option value="인천">
                                인천						</option>
                                                    <option value="강원">
                                강원						</option>
                                                    <option value="충남">
                                충남						</option>
                                                    <option value="대전">
                                대전						</option>
                                                    <option value="충북">
                                충북						</option>
                                                    <option value="세종">
                                세종						</option>
                                                    <option value="부산">
                                부산						</option>
                                                    <option value="울산">
                                울산						</option>
                                                    <option value="대구">
                                대구						</option>
                                                    <option value="경북">
                                경북						</option>
                                                    <option value="경남">
                                경남						</option>
                                                    <option value="전남">
                                전남						</option>
                                                    <option value="광주">
                                광주						</option>
                                                    <option value="전북">
                                전북						</option>
                                                    <option value="제주">
                                제주						</option>
                                                </select>
                        <select name="cate2" id="cate2" class="searchSelect subselect" onchange="sido($('#cate1 option:selected').val(), this.options[this.selectedIndex].value, '')"></select>
                        <select name="cate3" id="cate3" class="searchSelect subselect" onchange="sido($('#cate1 option:selected').val(), $('#cate2 option:selected').val(), this.options[this.selectedIndex].value)"></select>
                    </div>
    
    
                    <a href="./?c=cs/contactus" class="fr adq"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 캠핑장 등록 및 광고문의</a>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                
                </div>
                <!--head-->
                <div class="camp_right_content">
                    {% include "camps.html" %}<!--camp_right_content-->
            </div><!--kmapright-->
        </div><!--campinfo_wrap-->	
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    {% comment %} footer {% endcomment %}
    <div id="footer-full">
        <div class="m-wrap">
            {% comment %} <div class="fl flogo"><a href="/" title="클릭시 메인으로 이동" class="footer_logo"><img src="/layouts/5g/image/logo_square_100.jpg" alt="오지캠핑 로고"></a></div> {% endcomment %}
            <div class="fl fcenter">
                <div class="bottomMenu">
                    <a href="./?mod=private">개인정보취급방침</a> <span class="vline">|</span>
                    <a href="./?mod=agreement">홈페이지 이용약관</a> <span class="vline">|</span>
                    <a href="./?c=cs/contactus">광고 및 제휴문의</a> <span class="vline">|</span>
                    <a href="./?c=cs/notice">고객센터</a> <span class="vline">|</span>
                                    <a href="javascript:void(0)" onclick="isLogin('join')">회원가입</a> <span class="vline">|</span>
                    <a href="javascript:void(0)" onclick="isLogin()">로그인</a>
                                </div>
    
                <div class="copyright">
                    <span class="copy">
                        Copyright © 2022 <span class="b">www.campingu.com</span>. All rights reserved. 
                        <br>
                        
                        <span class="b"><i class="fa fa-phone"></i> 전화</span> 010-0000-0000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="b"><i class="fa fa-envelope-o" aria-hidden="true"></i> 이메일</span> <a href="mailto:blueb@blueb.co.kr">test@test.co.kr</a>
                                        </span>
                </div>
            </div> 
        </div>
    </div> 
</body>
</html>