{% for x in fruits %}
    <div> {{x}} </div>
{% endfor %}
<br/>

{% for x in cars %}
    <div>{{x.brand}} | {{x.model}} | {{x.year}}</div>
{% endfor %}
<br/>

{% for address in addresses %}
    <div><strong>{{address.id}}</strong> {{address.name}} | {{address.addr}} | {{address.rdate}} </div>
{% endfor %}
<br/>

{% for address in addresses reversed %}
    <div><strong>{{address.id}}</strong> {{address.name}} | {{address.addr}} | {{address.rdate}} </div>
{% endfor %}
<br/>

{% for address in addresses reversed %}
    <div><strong>{{address.id}}</strong> {{address.name}} | {{address.addr}} | {{address.rdate}} </div>
    {% empty %}
        No address
{% endfor %}
<br/>

{% for x in fruits %}
    <li>{{forloop.counter}}</li>
{% endfor %}
<br/>

{% for x in fruits %}
    <li>{{forloop.revcounter}}</li>
{% endfor %}
<br/>

{% for x in fruits %}
    <li>{{forloop.counter0}}</li>
{% endfor %}
<br/>

{% for x in fruits %}
    <li>{{forloop.revcounter0}}</li>
{% endfor %}
<br/>

{% for x in fruits %}
        <li {% if forloop.first %}
            style='background-color:pink'
            {% endif %}
        >{{x}}</li>
{% endfor %}
<br/>

{% for x in fruits %}
        <li {% if forloop.last %}
            style='background-color:orange'
            {% endif %}
        >{{x}}</li>
{% endfor %}
<br/>

<a href="../">뒤로가기</a>