<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/style.css"> 
    <title>update the details</title>
  </head>
  <body>
    <div class="uf-form-signin">
      
      <form class="mt-4" method = POST action = 'updateinfo/updateinfo_ok/'>
      {% csrf_token %}
        <div class="input-group uf-input-group input-group-lg mb-3">
          <span class="input-group-text fa fa-user"></span>
          <input name = "name" type="text" class="form-control" placeholder="Your name">
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
          <span class="input-group-text fa fa-envelope"></span>
          <input name = "email" type="text" class="form-control" placeholder="Email address">
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
          <span class="input-group-text fa fa-phone"></span>
          <input name = "phone" type="text" class="form-control" placeholder="Your phone">
        </div>      
        <div class="d-grid mb-4">
          <button type="submit" class="btn uf-btn-primary btn-lg">update</button>
        </div>       
      </form>
    </div>

    <!-- JavaScript -->
    <!-- Separate Popper and Bootstrap JS -->
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
  </body>
</html>